<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
   <section id="Todo-app">

    <section id="nav">
        <h2>TODO APP</h2>
    </section>
    <section id="desc">
        <h1>Description</h1>
        <input type="text" placeholder="give task description">
    </section>
    <section id="category">
        <h1>Category</h1>
        <select name="category" id="catgs">
            <option value="">--Choose option--</option>
            <option value="school">Volvo</option>
            <option value="home">Saab</option>
            <option value="office">Mercedes</option>
            <option value="hobb">Audi</option>
        </select>
    </section>
    <section id="date">
        <h1>Due Date</h1>
        <input type="date" id="date-due" name="due-date">
    </section>
    <section id="task">
       <button id="add-task">Add task</button>
       <button id="delete-task">Delete task</button>
    </section>
    <section id="list">
       <ul>
        <li>
            <div  class="mycheckbox 
            checked
            "></div> 
            <p class="list-desc">Description</p>
            <p class="list-cat">
                <span>Category</span>
            </p>
            <p class="list-date">
                <span>Date</span>
                <span class="date-value">04/09/2023</span>
            </p>
        </li>
       </ul>
    </section>
   

 </section>
    
</body>
</html>